.thumbnail {
  height: 213px;
  text-overflow: ellipsis;
  cursor: pointer;
}

.search-bar {
  height: 0px;
}

.video-box {
  background-color: black;
  background-repeat: no-repeat;
  padding-bottom: 35%;
  background-position: center;
  background-size: cover;
  background-image: url('./img/astronaut.jpg');
}

.page-header {
  margin-top: 0px !important;
}

.collapse.in {
  margin: 0 auto;
  width: 50%;
}

.collapsing {
  display: none;
}

.well {
  height: 0px !important;
  padding: 0px !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  background-color: transparent !important;
  border: none !important;
}

.search-inline {
  display: inline-flex;
  margin-right: 210px !important;
}

.video-margin {
  margin-top: 74px !important;
}

.embed-responsive {
  box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.46) !important;
  border: 4px solid lightgray !important;
  border-radius: 4px;
}

.search-btn-globe {
  padding: 0px !important;
  background-color: transparent !important;
  margin-left: 20px !important;
  border: none !important;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.46) !important;
  border-radius: 50% !important;
}

.search-glyph-globe {
  font-size: 5rem;
  color: lightblue !important;
}

.search-glyph-globe:hover {
  color: lightgreen !important;
  cursor: pointer;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.logo {
  position: relative !important;
  top: -6px !important;
  margin-left: 15px !important;
}
